@import "prism/themes/prism-okaidia";

.bespoke-slide {
  background: transparent;
  background-size: cover !important;
  z-index: 10;
  left: 20%;
  right: 20%;
  width: auto;
  height: auto;
  padding: 0;
  top: 0;
  bottom: 0;
  margin: 0;
}

.fullscreen-image {
  left: 0;
  right: 0;
  top: 0;
  left: 0;
}
