doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Presentation
    link(rel='stylesheet', type='text/css', href='build/build.css')

  body
    article
      section(class="fullscreen-image overlay hello")
        h1 Hello guys !
        p(class="author")
          <a href="https://github.com/Mcdostone" target="_blank">@mcdostone (Yann Prono)</a>

      section
        h2 Bullet List
        h3.bullet Powered by <a href="https://github.com/markdalgleish/bespoke-bullets">bespoke-bullets</a>
        ul
          li Bullet 1
          li Bullet 2
          li Bullet 3

      section
        h2 Syntax Highlighting
        h3 Powered by <a href="http://twitter.com/LeaVerou">Lea Verou</a>'s <a href="https://github.com/LeaVerou/prism">Prism</a>
        pre
          code.language-javascript.
            bespoke.from('article', [
              classes(),
              keys(),
              touch(),
              bullets('li, .bullet')
            ]);    
        
      section 
        pre
          code.language-markup
            :escape
              <a href="https://github.com/Mcdostone/HTML-CSS" target="_blank">Mon super dépot github</a>
              
      section(class="fullscreen-image overlay bye")
        h1 Any question ?

    script(src='build/build.js')
